*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: 
    /*shape*/
    linear-gradient(115deg, transparent 89%, #e8ddcb 0) -128px -96px,
    linear-gradient(-115deg, transparent 89%, #cdb380 0) 22px -96px,
    linear-gradient(-115deg, #036564 11%, transparent 0) -128px 54px,
    linear-gradient(115deg, #033649 11%, transparent 0) 22px 54px,
    
    /*shape*/
    linear-gradient(-25deg, #e8ddcb 11%, transparent 0) -128px -22px,
    linear-gradient(25deg, transparent 89%, #cdb380 0) -128px 128px,
    linear-gradient(25deg, #036564 11%, transparent 0) 22px -22px,
    linear-gradient(-25deg, transparent 89%, #033649 0) 22px 128px,
    /*shape*/
    linear-gradient(-25deg, #e8ddcb 11%, transparent 0) -53px -96px,
    linear-gradient(25deg, transparent 89%, #cdb380 0) -53px 54px,
    linear-gradient(25deg, #036564 11%, transparent 0) 97px -96px,
    linear-gradient(-25deg, transparent 89%, #033649 0) 97px 54px,
    /*shape*/
    linear-gradient(115deg, transparent 89%, #e8ddcb  0) -53px -21px,
    linear-gradient(-115deg, #cdb380 11%, transparent 0) -53px 129px,
    linear-gradient(-115deg, transparent 89%, #036564 0) 97px -21px,
    linear-gradient(115deg, #033649 11%, transparent 0) 97px 129px;
    
  background-color: #fff;
  background-size: 150px 150px;
  background-repeat: repeat;
}
  
 .title h1{
     padding: 20px 0;
     text-align: center;
     font-size: 2.9em;
     text-transform: uppercase;
 }
 .container {
     background: #fff;
     width: 90%;
     max-width: 1000px;
     margin: 1.6em auto;

     display: grid;
     gap: 1.6em;
     grid-template-columns: repeat(5, 1fr);
 }
 .container> .header,
 .container> .content,
 .container> .sidebar,
 .container> .footer,
 .container> .div {
     background: #fff;
     padding: 20px;
     border: 1px solid #000000;
 }
 .container .header,
 .container .footer {
     grid-column: 1/6;
     background: #1e272e;
     color: #ffffff;
 }
 .container .content {
     grid-column: span 3;
 }
 .content article {
     background: #66db2288;
     padding: 20px;
     margin-top: 5px;
     color: 032c;
 }
 .container article h1,
 .container article p {
     padding: 10px;
 }
 .container .sidebar img {
     width: 100%;
     margin-top: 5px;
 }
 .container .sidebar {
     grid-column: span 2;
     background: #66db2288;
     color: #ffffff;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 .container .related-post {
     background: #033649;
     color: #ffffff;
     height: 180px;
     display: flex;
     border: 1px solid #000000;
     align-items: center;
     justify-content: center;
 
 }
 .container .related-post:hover{
     color: aqua;
     transition: all 0.5s ease;
 }
.navegacion ul {
    list-style: none ;
}

.menu > li {
    display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    font-family: open sans;
    text-decoration: none;
   
}
.menu li a:hover {
    color:#033649
}
 