*{
    margin: 5px;
    border-radius: 3px;
    
}
header{
    background-color: rgb(27, 212, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container .header
  {
     grid-column: 1/6;
     background: #000000;
     color: #ffffff;
 }
 aside{
     grid-column: 1/2;
     background-color: yellow;
 }
 footer{
    grid-column: 1/6;
    background: #000000;
    color: #ffffff;
 }
 section{
     grid-column: 2/5;
     background-color: tomato;
 }
