*{

    margin: 5px;
    border-radius: 3px;
    
}

 header{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} 

  .contenedor aside{
     float: left;
     background-color: yellow;
    
 } 
 footer{
    grid-column: 1/6;
    background: #000000;
    color: #ffffff;

    text-align: center;
    
       
 }
 .contenedor section{
    width: 99%;
    background-color: orangered;
}
  

      #imag{
         display: grid;
     } 

     .containerx nav{
       
        align-items: center;
        justify-content: center;      
        height: 50px;
            
     }
 
